#define DEFAULT 0
#define MOUSE   1
#define SCROLL  2
#define ARROW   3
#define ARROW2  4
#define KEYS_EXCLUDED_FROM_DISABLING_MOUSE_LAYER 22 31 33 34 43 44

#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&trackball_listener {
    input-processors = <
        &zip_x_scaler 11 10
        &zip_y_scaler 9 10
        &zip_temp_layer MOUSE 750
    >;

    scroller: scroller {
        layers = <SCROLL>;
        input-processors = <
            &zip_xy_scaler 1 15
            &zip_xy_to_scroll_mapper
            &zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)
        >;
    };
};

&lt { tapping-term-ms = <170>; };

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        csharp_lambda {
            bindings = <&csharp_lambda>;
            key-positions = <11 48>;
            layers = <0>;
        };
    };

    macros {
        csharp_lambda: csharp_lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp EQUAL &kp GT &kp SPACE>;
            label = "CSHARP_LAMBDA";
        };

        shifted: macro_shifted_kp {
            #binding-cells = <1>;
            label = "MACRO_SHIFTED_KP";
            compatible = "zmk,behavior-macro-one-param";
            bindings =
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        as: autoshift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            label = "AUTOSHIFT_KP";
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
        };
    };

    behaviors {
        lmt: layer_mouse_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "layer mouse tap";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
        };

        as_ht: autoshift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTOSHIFT_HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <110>;
            bindings = <&shifted>, <&kp>;

            flavor = "tap-preferred";
        };
    };

    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <500>;
        excluded-positions = <KEYS_EXCLUDED_FROM_DISABLING_MOUSE_LAYER>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&as MINUS      &as N1       &as N2  &as N3        &as N4     &as N5        &as N6         &as N7     &as N8     &as N9   &as N0    &as EQUAL
&kp TAB        &as Q        &as W   &as E         &as R      &as T         &as Y          &as U      &as I      &as O    &as P     &as BACKSLASH
&kp BACKSPACE  &as A        &as S   &as D         &as F      &as G         &as H          &as J      &as K      &as L    &as SEMI  &as APOS
&kp LCTRL      &mt LCTRL Z  &as X   &as C         &as V      &as B         &as N          &as M      &as COMMA  &as DOT  &as FSLH  &kp RCTRL
                                    &kp LEFT_ALT  &kp SPACE  &mo 2         &mo 3          &kp ENTER
                                                  &gresc     &kp LSHIFT    &kp RIGHT_GUI
            >;

            label = "QWRT";
        };

        mouse_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none     &none     &none       &none     &none
&none  &none  &none  &none  &none  &none    &none  &none     &none     &none       &mkp MB2  &none
&none  &none  &none  &none  &none  &none    &none  &mkp MB5  &none     &lmt 2 MB3  &mkp MB2  &none
&none  &none  &none  &none  &none  &none    &none  &mkp MB4  &mkp MB1  &none       &none     &none
                     &none  &none  &none    &none  &none
                            &none  &none    &none
            >;

            label = "MOUSE";
        };

        scroll_layer {
            bindings = <
&trans             &kp F1              &kp F2     &kp F3                       &kp F4                         &mt LS(F5) F5    &kp F6     &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans             &kp LS(UNDERSCORE)  &kp LC(W)  &mt LEFT_BRACKET LEFT_BRACE  &mt RIGHT_BRACKET RIGHT_BRACE  &kp LC(LS(T))    &kp PSCRN  &kp N7  &kp N8  &kp N9  &trans   &kp F12
&kp LC(BACKSPACE)  &kp LC(A)           &kp LC(S)  &trans                       &trans                         &trans           &trans     &kp N4  &kp N5  &kp N6  &trans   &trans
&bootloader        &kp LC(Z)           &kp LC(X)  &kp LC(C)                    &kp LC(V)                      &trans           &trans     &kp N1  &kp N2  &kp N3  &trans   &trans
                                                  &trans                       &trans                         &trans           &trans     &kp N0
                                                                               &trans                         &trans           &trans
            >;

            label = "SCROLL";
        };

        arrow_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &trans  &trans  &trans  &trans    &trans     &trans    &trans    &trans     &trans  &trans
&trans      &trans        &trans  &trans  &trans  &trans    &kp PSCRN  &trans    &kp UP    &trans     &trans  &trans
&trans      &trans        &trans  &trans  &trans  &trans    &trans     &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans      &trans        &trans  &trans  &trans  &trans    &trans     &trans    &trans    &trans     &trans  &bootloader
                                  &trans  &trans  &mo 4     &trans     &trans
                                          &trans  &trans    &trans
            >;
        };

        arrow_layer2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans     &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &kp PG_UP  &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp HOME  &kp PG_DN  &kp END  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans     &trans   &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };
    };
};
